Table{
    background-color: #ede6c9;
    background-image: url(../../Images/Book/paper5.jpeg);
    background-size: 100%;
    width: 90%;
}

.idModal{
    font-weight: bold;
    color: yellow;
    font-size: large;
}

.favouriteIconStruc {
    width: 30px;
    position: absolute;
    right: 50px;
    top: 20px;
    background-color: rgba(0, 0, 0, 0);
}